.chatLog{
    overflow: scroll;
    height: 200px;
    width: 24vw;
    flex-direction: column-reverse;
    color: #e0e0e2
}
.chatLog::-webkit-scrollbar {
  display: none;
}
.chatLog{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.chat{
  margin: 10px;
}
.chatContainer{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.chatFrom{
    display: flex;
    justify-content: flex-start
}
.chatButton{
    width:3vw;
    font-size: 13px;
    background-color: #282829;
    border: none;
    color: white;
}
.chatInput{
    font-size: 13px;
    background-color: #282829;
    border: none;
    color: white;
    
}
.chatInput:focus{
    font-size: 13px;
    background-color: #282829;
    border: none;
    color: white;
    
  }