.createGameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #19181A;
    width: 50vw;
    height: 100vh;
}
.createLoginContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}
.loginGameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #151416;
    width: 50vw;
    height: 100vh;
}
.createGamePage{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gamePageInput{
    width: 34vw;
    height: 55px;
    margin: 15px;
    border-radius: 8px;
    border: solid grey 2px
}
.createGameTitle{
    font-size: 30px;
}