.navBarContainer{
    background-color: #282829;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    height:2vh;
  }
  .navLink {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }